:root {
  --font: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  max-width: 1366px;
  margin: auto;
  padding: 0 5.18rem;
  box-sizing: border-box;
}

button {
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 40px;
  font: 700 normal 14px/28px var(--font);
}

img {
  box-sizing: border-box;
}
